.navbar2{
    display: flex;
    padding-top:20px;
    padding-bottom: 20px;
    background-color: white;
    justify-content: space-between;
    box-shadow:0 2px 5px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:1;

}

body{
    background: white;
    margin: 0;
}
.navbar{
    letter-spacing: 2px;
    background: white;
    padding-left: 20px;
}
.navbar1{
    letter-spacing: 2px;
    background: white;
    word-spacing: 30px;
    padding-right: 20px;
    display: flex;
        
}
.about:hover{
    color: #000;
    background-color: #CCCCCC;
    
}
.about{
    padding:8px 16px;
}


.cont:hover{
    color: #000;
    background-color: #CCCCCC;
    

}
.cont{
    margin-left: 30px;
    padding:8px 16px;
    

}
.menu:hover{
    color: #000;
    background-color: #CCCCCC;
    padding:8px 16px;
}
.menu{
    margin-left: 30px;
    padding:8px 16px;

}

.image{
    align-items: center;
    padding-left: 150px;
}

.catering{
    margin: auto ;
    justify-content: space-around;
    width: 60%; 
    display: flex; 
}
.image2{
    max-width: 500px;
    width: 50%;
    padding-top: 60px ;
    padding-bottom: 50px;
}
.one{
    padding-left: 150px;
    padding-top: 70px;
}
.about2{
    letter-spacing: 2px;
    font-size: 40px;
    padding-left: 60px;

}
.tradition{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 70px;
    letter-spacing: 2px;
}
.paragraph1{
    line-height: 150%;
}
.paragraph3{
    padding-top: 20px;
}
.whole{
    display: flex;
    width: 80%;
    padding-bottom: 60px;
    padding-left: 400px;
}
#all{
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 300%;
    padding-top: 30px;
    
}
.image3{
    max-width: 50%;
    max-width: 600px;
    padding-left: 200px;  
}
.hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    padding-top: 30px ;
    padding-bottom: 30px;
}
.menu1{
    text-align: center!important;
    font-size: 40px;
    letter-spacing: 2px;
   

}
#grey{
    color: grey;
}
.hr1{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    padding-top: 30px ;
    padding-bottom: 30px;
}
.form{
    padding-left: 400px;
}
.contact{
    letter-spacing: 2px;
    font-size: 40px;
    padding: 8px 16px;
    padding-bottom: 30px;
}
.aboutus{
    color: #7D95A0;
    font-size: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    padding: 8px 16px;
    
}
.more{
    padding: 8px 16px;
    padding-top: 20px;

}
.container{
    width: 400px;
    background:white ;
    padding: 20px;
    border-radius: 10px;
    

}
.container.inputs{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;

}
.container .inputs input {
    width: 350%;
    height: 60px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 16px;
}
::placeholder{
    font-size: 15px;
    padding-top: 20px;

}
.message:hover{
    color: #000;
    background-color: #CCCCCC;
}

.message{
    margin-top:30px;
    margin-bottom: 20px; 
    border: none; 
    padding:8px 16px;

}

.director{
    text-align: center!important;
    background-color:#f1f1f1 ;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    
    

}
.bottom-left {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding-left: 180px;
    font-size: 40px;
    letter-spacing: 2px;
}
.both{
    position: relative;
}
  










